<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snailst.express.mapper.GoodsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.snailst.express.entity.Goods">
		<id column="id" property="id" />
		<result column="goods_name" property="goods_name" />
		<result column="remarks" property="remarks" />
	</resultMap>
    <!-- 查询所有的商品 -->
    <select id="getGoods" parameterType="QueryParam" resultType="com.snailst.express.entity.Goods">
        SELECT id, goods_name, `remarks`
        FROM goods
        <if test="null != whereSql">
            <where>
                #{whereSql}
            </where>
        </if>
        <if test="isPaging == true">
            LIMIT #{start}, #{pageSize}
        </if>
    </select>
    <!--  -->
    <select id="getCount" parameterType="QueryParam" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM goods
        <if test="null != whereSql">
            <where>
                #{whereSql}
            </where>
        </if>
    </select>

</mapper>
