<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snailst.express.mapper.OrdersMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.snailst.express.entity.Orders">
		<id column="id" property="id" />
		<result column="express_code" property="express_code" />
		<result column="create_at" property="create_at" />
		<result column="customer_name" property="customer_name" />
		<result column="mobile_number" property="mobile_number" />
		<result column="goods_id" property="goods_id" />
		<result column="goods_spec_id" property="goods_spec_id" />
		<result column="goods_num" property="goods_num" />
		<result column="agent_name" property="agent_name" />
		<result column="agent_mobile_number" property="agent_mobile_number" />
		<result column="address" property="address" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="county" property="county" />
		<result column="town" property="town" />
		<result column="street" property="street" />
		<result column="com" property="com" />
	</resultMap>
    <!-- 设置打印状态 -->
    <update id="setPrintState" parameterType="QueryParam">
        UPDATE orders
        SET is_printed = #{state}
        WHERE id in (${whereSql})
    </update>
    <!-- 查询所有的订单 -->
    <select id="getOrders" parameterType="QueryParam" resultType="com.snailst.express.entity.Orders">
        SELECT o.id,
            express_code,
            create_at,
            customer_name,
            mobile_number,
            goods_id,
            g.goods_name,
            goods_spec_id,
            s.goods_spec_name,
            goods_num,
            agent_name,
            agent_mobile_number,
            address,
            province,
            city,
            county,
            town,
            street,
            com,
            company_name,
            is_printed,
            is_send
        FROM orders o
        LEFT JOIN goods g ON o.goods_id = g.id
        LEFT JOIN goods_spec s ON o.goods_spec_id = s.id
        <if test="whereSql != null">
            <where>
                ${whereSql}
            </where>
        </if>
        <if test="orderBy.size() > 0">
            ORDER BY
            <foreach collection="orderBy" index="key" item="value" separator=",">
                ${key} ${value}
            </foreach>
        </if>
        <if test="isPaging == true">
            LIMIT #{start}, #{pageSize}
        </if>
    </select>
    <!-- 查询总记录数 -->
    <select id="getCount" parameterType="QueryParam" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM orders o
        <if test="whereSql != null">
            <where>
                ${whereSql}
            </where>
        </if>
    </select>
</mapper>
