<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snailst.express.mapper.OrdersMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.snailst.express.entity.Orders">
		<id column="id" property="id" />
		<result column="express_code" property="express_code" />
		<result column="create_at" property="create_at" />
		<result column="customer_name" property="customer_name" />
		<result column="mobile_number" property="mobile_number" />
		<result column="goods_id" property="goods_id" />
		<result column="goods_spec_id" property="goods_spec_id" />
		<result column="goods_num" property="goods_num" />
		<result column="agent_name" property="agent_name" />
		<result column="agent_mobile_number" property="agent_mobile_number" />
		<result column="aggress" property="aggress" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="county" property="county" />
		<result column="town" property="town" />
		<result column="street" property="street" />
		<result column="com" property="com" />
	</resultMap>

</mapper>
